@font-face {
  font-family: 'Audiowide';
  src: url('./Audiowide-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0b0e11;
  font-family: 'Audiowide', 'Arial', sans-serif;
}

.calculator {
  background-color: #1a1c23;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(255, 110, 199, 0.5);
  overflow: hidden;
  width: 300px;
}

.screen {
  height: 150px;
  background-color: #0b0e11;
  color: #ff6ec7;
  text-align: right;
  padding: 10px;
  border-bottom: 1px solid #ff6ec7;
}

.screenContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.calculation {
  font-size: 16px;
  color: #ffffff;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.result {
  font-size: 40px;
  margin: 10px 0 0;
  color: #ffffff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 10px;
}

.btn {
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #2c2f3a;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: #ff6ec7;
  color: #2c2f3a;
}

.operator {
  background-color: #3d4153;
}

.btn[data-action='equals'] {
  grid-row: span 2;
}

.btn[data-action='number'][value='0'] {
  grid-column: span 2;
}
